# Basketball 선수의 Position 예측
- 3p, 2p, blk 데이터를 가지고 포지션 예측

In [252]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics
from sklearn import svm

##### basketball_stat 데이터 불러오기

In [253]:
df = pd.read_csv('./basketball_stat.csv')
df.head()

                   Player Pos   3P   2P  TRB  AST  STL  BLK
0            Alex Abrines  SG  1.3  0.5  1.5  0.6  0.5  0.2
1            Steven Adams   C  0.0  6.0  9.5  1.6  1.5  1.0
2             Bam Adebayo   C  0.0  3.4  7.3  2.2  0.9  0.8
3  DeVaughn Akoon-Purcell  SG  0.0  0.4  0.6  0.9  0.3  0.0
4       LaMarcus Aldridge   C  0.1  8.3  9.2  2.4  0.5  1.3

#### Train과 Test set 분리

In [254]:
train, test = train_test_split(df,test_size= 0.2)
print(train.shape)
print(test.shape)

(160, 8)
(40, 8)

#### Train data 와 label 분리

In [257]:
X_train = train[['3P','2P','BLK']].values
Y_train = train[['Pos']].values.ravel()
print(X_train.shape)
print(Y_train.shape)

(160, 3)
(160,)

#### Test data 와 label 분리

In [259]:
X_test = test[['3P','2P','BLK']].values
Y_test = test[['Pos']].values.ravel()
print(X_test.shape)
print(Y_test.shape)

(40, 3)
(40,)

#### KNN 모델 학습

In [260]:
knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(X_train,Y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

#### SVM 모델 학습

In [261]:
cfs = svm.SVC(C = 1, gamma=1)
cfs.fit(X_train,Y_train)

SVC(C=1, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma=1, kernel='rbf', max_iter=-1,
    probability=False, random_state=None, shrinking=True, tol=0.001,
    verbose=False)

#### knn 모델 예측

In [263]:
pred_knn = knn.predict(X_test)
pred_knn

array(['C', 'SG', 'C', 'SG', 'SG', 'C', 'SG', 'SG', 'SG', 'SG', 'C', 'SG',
       'C', 'SG', 'SG', 'C', 'C', 'C', 'C', 'SG', 'C', 'SG', 'SG', 'C',
       'SG', 'SG', 'SG', 'SG', 'SG', 'SG', 'SG', 'C', 'C', 'C', 'SG', 'C',
       'C', 'SG', 'C', 'SG'], dtype=object)

#### SVM 모델 예측

In [265]:
pred_svm = cfs.predict(X_test)
pred_svm

array(['C', 'SG', 'C', 'SG', 'SG', 'C', 'SG', 'SG', 'SG', 'SG', 'C', 'SG',
       'C', 'SG', 'SG', 'C', 'C', 'C', 'C', 'SG', 'C', 'SG', 'SG', 'C',
       'C', 'SG', 'SG', 'SG', 'SG', 'SG', 'SG', 'C', 'C', 'C', 'SG', 'C',
       'C', 'SG', 'C', 'SG'], dtype=object)

#### KNN 모델 정확도 확인

In [271]:
Acc_score = metrics.accuracy_score(Y_test,pred_knn)
Acc_score

0.85

In [273]:
comparison = pd.DataFrame({'Predict':pred_knn,'G_Truth':Y_test})
comparison

   Predict G_Truth
0        C       C
1       SG      SG
2        C       C
3       SG      SG
4       SG      SG
5        C       C
6       SG       C
7       SG      SG
8       SG      SG
9       SG      SG
10       C       C
11      SG      SG
12       C       C
13      SG      SG
14      SG      SG
15       C       C
16       C       C
17       C       C
18       C       C
19      SG       C
20       C       C
21      SG      SG
22      SG       C
23       C       C
24      SG       C
25      SG       C
26      SG      SG
27      SG      SG
28      SG      SG
29      SG       C
30      SG      SG
31       C       C
32       C       C
33       C       C
34      SG      SG
35       C       C
36       C       C
37      SG      SG
38       C       C
39      SG      SG

#### SVM 모델 정확도 확인

In [268]:
Acc_score = metrics.accuracy_score(Y_test,pred_svm)
Acc_score

0.875

In [270]:
comparison = pd.DataFrame({'Predict':pred_svm,'G_Truth':Y_test})
comparison

   Predict G_Truth
0        C       C
1       SG      SG
2        C       C
3       SG      SG
4       SG      SG
5        C       C
6       SG       C
7       SG      SG
8       SG      SG
9       SG      SG
10       C       C
11      SG      SG
12       C       C
13      SG      SG
14      SG      SG
15       C       C
16       C       C
17       C       C
18       C       C
19      SG       C
20       C       C
21      SG      SG
22      SG       C
23       C       C
24       C       C
25      SG       C
26      SG      SG
27      SG      SG
28      SG      SG
29      SG       C
30      SG      SG
31       C       C
32       C       C
33       C       C
34      SG      SG
35       C       C
36       C       C
37      SG      SG
38       C       C
39      SG      SG