# Python List and Tuple
- List
- Tuple

In [1]:
!python --version

Python 3.7.6

## List

In [ ]:
# list 생성하기
a = list(range(1,10,2))
a

In [3]:
score = [90,95,85,80]
score[1] = 100
score

[90, 100, 85, 80]

In [6]:
# data type은 동일하지 않아도 됨
mixedList = [0,2,34,"python","type"]
mixedList

[0, 2, 34, 'python', 'type']

In [9]:
# 리스트 연결
list1=  list(range(4))
list2 = list(range(5,9))
list3 = list1 + list2
print(list3)
list4 = list1 * 3   # 횟수 반복
print(list4)

[0, 1, 2, 3, 5, 6, 7, 8]
[0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3]

In [10]:
# 리스트 길이
len(list4)

12

In [12]:
# quiz
# 최근 3년간 연도와 인구수가 리스트로 출력되게 만들기
year = [2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018]
population = [10000000, 20000000, 30000000, 40000000,
50000000, 60000000, 70000000, 80000000]
print(f"연도 : {year[-3:]}")
print(f"인구 수 : {population[-3:]}")

연도 : [2016, 2017, 2018]
인구 수 : [60000000, 70000000, 80000000]

In [16]:
myFriends = ["James","Robert","Lisa","Mary"]
myFriends.extend(["Laura","Betty"])
print(myFriends)
myFriends.insert(2,"Judy")
print(myFriends)
myFriends.sort()
print(myFriends)
myFriends.reverse()
print(myFriends)
print(myFriends.count("Lisa"))
print(myFriends.index("Lisa"))

['James', 'Robert', 'Lisa', 'Mary', 'Laura', 'Betty']
['James', 'Robert', 'Judy', 'Lisa', 'Mary', 'Laura', 'Betty']
['Betty', 'James', 'Judy', 'Laura', 'Lisa', 'Mary', 'Robert']
['Robert', 'Mary', 'Lisa', 'Laura', 'Judy', 'James', 'Betty']
1
2

## Tuple
- 튜플은 데이터 한번 입력(혹은 생성)하면 그 이후 항목 변경 불가

In [20]:
tuple1 = 1,2,3,4
print(type(tuple1))
tuple2 = 10,  # 인자가 1개일 시, ','필요
print(tuple2)

<class 'tuple'>
(10,)

In [24]:
a = tuple(range(-4,10,2))
print(a)
a[5] = 10   # 변경 불가

(-4, -2, 0, 2, 4, 6, 8)

TypeError: 'tuple' object does not support item assignment

In [28]:
# index, count 함수
test= 'a','b','c','d','a'
print(test.index('d'))
print(test.count('a'))

3
2

In [29]:
# 인덱스가 홀수인 요소 출력
n = [-32,75,97,-10,9,32,4,-15,0,76,14,2]
print(n[1::2])
print(n[1:12:2])
print(n[1:len(n):2])

[75, -10, 32, -15, 76, 2]
[75, -10, 32, -15, 76, 2]
[75, -10, 32, -15, 76, 2]