# Sequence data 복습
- 세트는 index 불가, 
    - set a[0]  -> error
- 딕셔너리 범위 지정 불가

In [11]:
a = 10  # 변수
a = "String" # 문자열
a = [90,3.4,"python"] # 리스트
a = {90,3.4,"python"} # 세트
a = {"d1":90, "d2" : 3.5}   # 딕셔너리

In [12]:
# 세트
data1 = {10,20,30}
data2 = {40,50,60}
#print(data1 + {40})  error
print(data1 | data2)
# print(data1 * 3)  error

{50, 20, 40, 10, 60, 30}

In [13]:
# 리스트
data1 = [10,20,30]
data2 = [40,50,60]
print(data1 + [40])
print(data1 + data2)
print(data1 * 3)

[10, 20, 30, 40]
[10, 20, 30, 40, 50, 60]
[10, 20, 30, 10, 20, 30, 10, 20, 30]

- 튜플은 한번 생성된 요소 변경 불가

In [14]:
# 튜플
b = (10,20,30)
# b[1] = 5
print(b.count(10))
print(b.index(10))
data1 = (10,20,30)
data2 = (40,50,60)

print(data1 + (40,))    # 덧셈 연산 가능
print(data1+data2)
print(data1 * 3)

1
0
(10, 20, 30, 40)
(10, 20, 30, 40, 50, 60)
(10, 20, 30, 10, 20, 30, 10, 20, 30)

## 함수를 이용하여 시퀀스데이터 다루기
### 문자열
    - split(), strip(), join(), replace(), find(), count()

In [15]:
coffe = "아메리카노,카페라떼,카푸치노"
print(coffe.split(","))
print("aaaaaPythonaaaaa".strip("a"))

address_list = ["서울시","서초구","반포대로"]
print(",".join(address_list)) 
str_a = "Python is fast"
print(str_a.replace("Python","IPython"))

str_f = "Python code"
print(str_f.find("code"))
str_c = "Python is powerful."
print(str_c.count("o"))

['아메리카노', '카페라떼', '카푸치노']
Python
서울시,서초구,반포대로
IPython is fast
7
2

### 리스트
    - 추가/삽입:  append(), Insert(), extend()
    - 삭제: remove(), clear(), pop()
    - 찾기: index(), count()
    - 정렬: sort(), reverse()

In [16]:
data1 = ["Lee","Kim","Nam"]
# 추가 /삽입
data1.append("Oh")
data1.insert(1,"Hong")
data1.extend(["Tae","Kang"])
print(data1)

# 삭제
data1.remove("Tae")
# data1.clear()
temp = data1.pop()  # 마지막 항목 제거한 후 반환
print(temp)

# 찾기
print(data1.index("Oh"))
print(data1.count("Kim"))

# 정렬
data1.sort()
print(data1)
data1.reverse()
print(data1)

['Lee', 'Hong', 'Kim', 'Nam', 'Oh', 'Tae', 'Kang']
Kang
4
1
['Hong', 'Kim', 'Lee', 'Nam', 'Oh']
['Oh', 'Nam', 'Lee', 'Kim', 'Hong']

### 튜플
    - 찾기: index(), count()

In [17]:
friend = ("James", "Lisa","James")
print(friend.index("Lisa"))
print(friend.count("James"))

1
2

### 딕셔너리
    - 정보열기: key(), values(), items()
    - 추가: update(dict_data2)
    - 데이터 가져오기: get()
    - 삭제: pop(), clear()

In [18]:
data1 = {"Kim":10, "Lee": 20, "Nam":30}
# 정보 얻기
print(data1.keys())
print(data1.values())
print(data1.items())

# 추가
data2 = {"Hong" : 26}
data1.update(data2)
print(data1)

# 데이터 가져오기
data1.get("tae",0)  # 없을시 0 

# 삭제
data1.pop("Kim")
# del data1["Kim"]
# data1.clear()

# print(data1+data2) 덧셈 연산 불가
# print(data1*3) 정수 곱셈 불가
for key,val in data1.items():
    print(key,val)

dict_keys(['Kim', 'Lee', 'Nam'])
dict_values([10, 20, 30])
dict_items([('Kim', 10), ('Lee', 20), ('Nam', 30)])
{'Kim': 10, 'Lee': 20, 'Nam': 30, 'Hong': 26}
Lee 20
Nam 30
Hong 26