# DNN을 이용한 타이타닉 생존율 예측

In [1]:
import tensorflow as tf
from sklearn.model_selection import train_test_split
from keras.models import Sequential
from keras.layers import Dense
import pandas as pd
import numpy as np

In [20]:
data = pd.read_csv("./trainClean.csv")
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 712 entries, 0 to 711
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   712 non-null    int64
 1   PassengerId  712 non-null    int64
 2   Pclass       712 non-null    int64
 3   Sex          712 non-null    int64
 4   Age          712 non-null    float64
 5   SibSp        712 non-null    int64
 6   Parch        712 non-null    int64
 7   Fare         712 non-null    float64
 8   Survived     712 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 50.2 KB

### 데이터셋 나누기
- 학습용 데이터셋 : 학습데이터와 레이블(정답) 나누기
- 테스트용 데이터셋 : 학습데이터와 레이블(정답) 나누기

In [21]:
data = data.values
train,test = train_test_split(data,test_size=0.2)
X_train = train[:,2:4]
Y_train = train[:,8]

X_test = test[:,2:4]
Y_test = test[:,8]

print(X_train.shape,Y_train.shape)
print(X_test.shape, Y_test.shape)

(569, 2) (569,)
(143, 2) (143,)

#### DNN Network 만들기

In [22]:
model = Sequential()
model.add(Dense(30,input_dim=2,activation='relu'))
model.add(Dense(1,activation='sigmoid'))

In [25]:
model.compile(loss='mean_squared_error',optimizer='adam',metrics=['accuracy'])

#### 모델 학습하기

In [26]:
model.fit(X_train,Y_train,epochs=30,batch_size=10)

Epoch 1/30
57/57 [==============================] - 0s 762us/step - loss: 0.2262 - accuracy: 0.5975
Epoch 2/30
57/57 [==============================] - 0s 772us/step - loss: 0.2161 - accuracy: 0.5975
Epoch 3/30
57/57 [==============================] - 0s 773us/step - loss: 0.2090 - accuracy: 0.6011
Epoch 4/30
57/57 [==============================] - 0s 728us/step - loss: 0.2024 - accuracy: 0.6661
Epoch 5/30
57/57 [==============================] - 0s 810us/step - loss: 0.1964 - accuracy: 0.7469
Epoch 6/30
57/57 [==============================] - 0s 810us/step - loss: 0.1906 - accuracy: 0.7838
Epoch 7/30
57/57 [==============================] - 0s 817us/step - loss: 0.1855 - accuracy: 0.7715
Epoch 8/30
57/57 [==============================] - 0s 788us/step - loss: 0.1812 - accuracy: 0.7733
Epoch 9/30
57/57 [==============================] - 0s 755us/step - loss: 0.1780 - accuracy: 0.7680
Epoch 10/30
57/57 [==============================] - 0s 776us/step - loss: 0.1751 - accuracy: 0.7680
Epoch 11/30
57/57 [==============================] - 0s 751us/step - loss: 0.1731 - accuracy: 0.7680
Epoch 12/30
57/57 [==============================] - 0s 782us/step - loss: 0.1716 - accuracy: 0.7680
Epoch 13/30
57/57 [==============================] - 0s 800us/step - loss: 0.1698 - accuracy: 0.7680
Epoch 14/30
57/57 [==============================] - 0s 802us/step - loss: 0.1693 - accuracy: 0.7680
Epoch 15/30
57/57 [==============================] - 0s 743us/step - loss: 0.1674 - accuracy: 0.7680
Epoch 16/30
57/57 [==============================] - 0s 740us/step - loss: 0.1664 - accuracy: 0.7680
Epoch 17/30
57/57 [==============================] - 0s 1ms/step - loss: 0.1655 - accuracy: 0.7680
Epoch 18/30
57/57 [==============================] - 0s 800us/step - loss: 0.1649 - accuracy: 0.7680
Epoch 19/30
57/57 [==============================] - 0s 902us/step - loss: 0.1641 - accuracy: 0.7680
Epoch 20/30
57/57 [==============================] - 0s 761us/step - loss: 0.1638 - accuracy: 0.7680
Epoch 21/30
57/57 [==============================] - 0s 863us/step - loss: 0.1632 - accuracy: 0.7680
Epoch 22/30
57/57 [==============================] - 0s 791us/step - loss: 0.1627 - accuracy: 0.7680
Epoch 23/30
57/57 [==============================] - 0s 753us/step - loss: 0.1624 - accuracy: 0.7680
Epoch 24/30
57/57 [==============================] - 0s 738us/step - loss: 0.1618 - accuracy: 0.7680
Epoch 25/30
57/57 [==============================] - 0s 747us/step - loss: 0.1618 - accuracy: 0.7680
Epoch 26/30
57/57 [==============================] - 0s 818us/step - loss: 0.1609 - accuracy: 0.7680
Epoch 27/30
57/57 [==============================] - 0s 767us/step - loss: 0.1605 - accuracy: 0.7680
Epoch 28/30
57/57 [==============================] - 0s 731us/step - loss: 0.1602 - accuracy: 0.7680
Epoch 29/30
57/57 [==============================] - 0s 826us/step - loss: 0.1600 - accuracy: 0.7680
Epoch 30/30
57/57 [==============================] - 0s 792us/step - loss: 0.1597 - accuracy: 0.7680

#### 모델 평가하기

In [27]:
model.evaluate(X_test,Y_test)

5/5 [==============================] - 0s 1ms/step - loss: 0.1323 - accuracy: 0.8252

[0.1323302835226059, 0.8251748085021973]

#### 모델 예측하기

In [31]:
pred = model.predict_classes(X_test)
pred.ravel()

array([1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1,
       1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0,
       1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0,
       1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1], dtype=int32)

In [33]:
comparison = pd.DataFrame({'prediction':pred.ravel(), 'ground_truth':Y_test.astype(int)})
comparison

     prediction  ground_truth
0             1             0
1             1             1
2             1             1
3             0             0
4             0             0
..          ...           ...
138           0             0
139           1             1
140           1             1
141           0             0
142           1             1

[143 rows x 2 columns]